@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
#calendar {
	max-width: 900px;
	margin: 0 auto;
}
body{
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	color: white;
	background-color: #30323D;
}
nav, div{
	box-sizing: border-box;
}
#whole{
	display: flex;
	align-items: stretch;
}
h1, h2{
	font-size: 20pt;
	color: #FFFFFF;
	text-align: center;
}
h6{
	line-height: 0;
}
#sidebar{
	max-width: 250px;
	min-width: 20%;
	min-height: 100vh;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	padding: 10px;
	color: white;
	border: 5px solid #368F8B;
	border-left: 0;
}
#sidebar.active{
	margin-left: -250px;
}
#main{
	padding: 30px;
}
#calendarSpace{
	margin: auto;
	width: 70%;
}
table{
	height: 60px;
}
.fc-unthemed td.fc-today{
	background-color: CornflowerBlue;
}
#sidebar button{
	width: 200px;
	margin: 5px;
	margin-left: 20px;
	box-sizing: border-box;
	border-radius: 8px;
	height: 50px;
	font-family: 'Pontano Sans', sans-serif;
	text-transform: uppercase;
	font-size: 11pt;
	border: 2px solid #368F8B;
	background-color: #30323D;
	color: white;
}
#sidebar button:hover{
	color: #30323D;
	background-color: #368F8B;
}
#calendarSpace button{
	background-color: white;
	box-shadow: none;
	font-family: 'Pontano Sans', sans-serif;
}
td{
	padding: 3px;
}