#g7
{
	margin: 20px;
	float: left;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}
#glevel7:checked ~ #g7
{
	opacity: 1;
	max-height: 200px;
	overflow: visible;
	
}
#g8
{
	margin: 20px;
	float: left;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}
#glevel8:checked ~ #g8
{
	opacity: 1;
	max-height: 200px;
	overflow: visible;
}
#g9
{
	margin: 20px;
	float: left;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}
#glevel9:checked ~ #g9
{
	opacity: 1;
	max-height: 200px;
	overflow: visible;
	
}
#g10
{
	margin: 20px;
	float: left;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
}
#glevel10:checked ~ #g10
{
	opacity: 1;
	max-height: 200px;
	overflow: visible;
	
}
#login
{
	float: left;
}