body
{
	margin: 0;
	padding: 0;
}
#dayofweek.retract
{
	position: absolute;
	right: 0;
	height: 5%;
	width: 80%;
	background-color: blue;
	text-align: center;
	vertical-align:center;
}
#dayofweek.extend
{
	position: absolute;
	right: 0;
	height: 5%;
	width: 95%;
	background-color: blue;
	text-align: center;
	vertical-align: center;
}
#sidebar.retract
{
	position: absolute;
	height: 100%;
	width: 5%;
	background-color: red;
	text-align: center;
	z-index: 0;
}
#sidebar.extend
{
	position: absolute;
	height: 100%;
	width: 20%;
	background-color: red;
	z-index: 0;
}
#samplereq
{
	position: absolute;
	width: 100%;
	top: 175px;
	height: 250px;
	background-color: pink;
	z-index: 1;
}
#req
{
	margin: 10px;
}
#days
{
	text-align:center;
	height: 5%;
}	
#calendar.retract
{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 95%;
	width: 80%;
	border-collapse: collapse;
	border: 1px solid black;
}
#calendar.extend
{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 95%;
	width: 95%;
	border-collapse: collapse;
	border: 1px solid black;
}
td
{
	border-collapse: collapse;
	border: 1px solid black;
}